/**
 * SECTION - CSS Module
 */

.section {
    padding: var(--space-3xl) 0;
}

.default {
    background: var(--off-white);
}

.alt {
    background: var(--white);
}

@media (max-width: 1024px) {
    .section {
        padding: var(--space-2xl) 0;
    }
}

@media (max-width: 480px) {
    .section {
        padding: var(--space-xl) 0;
    }
}
